<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <script src="/script.js"></script>
  </head>
  <body background="/images/salon2.png">
    <nav class="navbar navbar-dark bg-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hair Salon</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/stylists">All stylists</a></li>
      <li><a href="/clients">All clients</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>